@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Maven+Pro:400,500,700,800|Rubik:300,400,500,700");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* poyo's font */
@font-face {
    font-family: "Poyodash";
    font-style: normal;
    font-weight: 700;
    src: url("/images/fonts/Poyodash-Bold.woff2") format("woff2");
    unicode-range:
            U+2E3A, /* two-em dash, for win/loss */
            U+2E3B; /* three-em dash, for rating */
}

.font-poyodash {
    font-family: "Poyodash", sans-serif;
}

.flag {
    display: inline-block;
    vertical-align: middle;
    height: 0.7em;
    border-radius: 3px;
    margin: 0 0.3em;
    margin-bottom: 0.13em;
}

 .navigation {
     background-color: #313c4e;
     position: absolute;
     top: 2px;
     left: 16px;
     border-radius: 15px;
     max-height: calc(100vh - 32px);
     overflow: auto;
     color: #ffffff;
 }

.navigation .flag {
    height: 1em;
}
.navigation p {
    font-weight: 500;
}
.navigation ul {
    list-style: none;
    display: none;
}
.navigation:hover ul {
    display: unset;
}
.navigation > ul, .navigation > p {
    margin: 0;
    padding: 0;
}
.navigation li {
    border-top: 1px solid #2d3748;
}
.navigation li:hover {
    background-color: #2d3748;
    color: #ffffff;
}
.navigation li, .navigation p {
    padding: 12px 24px;
}

::-webkit-scrollbar {
    width: 22px;
    height: 22px;
}

::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #2d3748;
}

.no-select {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}